<footer>
    <div class="footer border-top" style="height:5rem ; display: flex; flex-direction: row;justify-content:space-between;">

        <div class="left-foot" style=" margin-left: 40px; display: flex; flex-direction: row;margin-top: 25px;">
            <p>&copy;2025 Airbnb, Inc. &nbsp;</p>
            ·&nbsp;&nbsp;<a class="left-footer-link" href="/privacy"> Privacy</a>&nbsp;&nbsp;
            ·&nbsp;&nbsp;<a class="left-footer-link" href="/terms">Terms</a>&nbsp;&nbsp;
            ·&nbsp;&nbsp;<a class="left-footer-link" href="/sitemap">Sitemap</a>&nbsp;&nbsp;
            ·&nbsp;&nbsp;<a class="left-footer-link" href="/companydetails">Company details</a>
        </div>

        <div class="right-foot" style="margin-right: 40px; display: flex; flex-direction: row;margin-top: 25px;">
                 <a class="right-footer-link" href="/language"><i class="fa-solid fa-globe"></i>  English(IN)&nbsp;&nbsp;&nbsp;&nbsp;</a>
                  <a class="right-footer-link" href="/currency">₹ INR</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                <a class="right-footer-icon" href="/facebook"><i class="fa-brands fa-facebook"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="right-footer-icon" href="/twitter"><i class="fa-brands fa-x-twitter"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="right-footer-icon" href="/instagram"><i class="fa-brands fa-instagram"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               
                
                  
            
        
        </div>
    </div>
</footer>