<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom sticky-top" style="height: 5rem;"> 
    <!-- "navbar-expand-md" iske chalte navbar medium size tk expanded rahega fir shrink ho jaega -->
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="font-family:sans-serif ;font-weight:600;color: red;margin-left: 40px;"><img style="height: 35px;font-weight: bold;" src="https://cdn-icons-png.flaticon.com/512/5977/5977574.png" alt="" > airbnb</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" style="font-weight:600;">
        <a class="nav-link active" aria-current="page" href="#"></a>
        <a class="nav-link" href="/listings">Home</a>
        <a class="nav-link" href="/listings">All listings</a>
        <a class="nav-link " aria-disabled="true" href="/listings/new">Add new listing</a>
      </div>
    </div>
  </div>
</nav>
