<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom sticky-top" style="height: 5rem;"> 
  <div class="container-fluid">
    <!-- Brand -->
    <a class="navbar-brand" href="#" style="font-family:sans-serif; font-weight:600; color: red;">
      <img style="height: 35px;" src="https://cdn-icons-png.flaticon.com/512/5977/5977574.png" alt=""> airbnb
    </a>

    <!-- Toggler (for mobile collapse) -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Links -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" style="font-weight:600;">
        <a class="nav-link" href="/listings"><i class="fa-solid fa-globe"></i> All listings</a>
        <a class="nav-link" href="/listings/new"><i class="fa-solid fa-circle-plus"></i> Feature Your Property</a>
      </div> 

       <!-- Centered Search Box -->
      <form class="d-flex" role="search" action="/search" method="GET"
        style="border: 1px solid #ddd; border-radius: 50px; padding: 0.3rem 0.8rem; box-shadow: 0 1px 3px rgba(0,0,0,0.1);position: relative;left: 1rem;">
        <input class="form-control border-0" type="search" placeholder="Search destinations" name="q" aria-label="Search"
          style="width: 250px; border-radius: 50px; font-size: 0.9rem;position: relative;right: 0.8rem;">
        <button class="btn btn-danger rounded-circle d-flex align-items-center justify-content-center" type="submit"
          style="width: 40px; height: 40px;">
          <i class="fa-solid fa-magnifying-glass" style="color: white;"></i>
        </button>
      </form>

      <!-- Right aligned links -->
      <div class="navbar-nav ms-auto" style="font-weight:600;"> <!--"ms-auto" pushes them to right-->
        <% if(!workingUser){ %>
          <a class="nav-link" href="/signup"><i class="fa-solid fa-user-plus"></i>&nbsp;Signup</a>
          <a class="nav-link" href="/login" style="font-size: large;"><i class="fa-solid fa-right-to-bracket"></i>&nbsp;Login</a>
        <% } %>

        <% if(workingUser){ %>
          <span class="nav-link disabled" style="pointer-events: none;">
            <img src="https://static.vecteezy.com/system/resources/previews/000/439/534/original/vector-users-icon.jpg" 
              alt="" style="height: 1.5rem; border-radius: 50%;"> 
            <%=workingUser.username%>
          </span>
          <a class="nav-link" href="/logout" onclick="return confirm('Are you sure you want to log out?')">
            <i class="fa-solid fa-user-minus"></i>&nbsp;Logout
          </a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
