body{
    background-color: aqua;
}

#owner{

   font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



.left-footer-link{
    text-decoration: none;
    color: #222222;
}

.left-footer-link:hover{
    text-decoration: underline;
     color: #222222;
     
}

.right-footer-link{
    text-decoration: none;
    color: #222222;
    font-weight: 500;
}


.right-footer-icon i{
    text-decoration: none;
    color: #222222;
   
  border: 9px solid white;
  border-radius: 50%;
 
  position: relative;
  bottom: 5px;
  
}

.right-footer-icon i:hover {
  border-color: whitesmoke;
  background-color: whitesmoke;
  
}

.card-info{
text-decoration: none;
color: #222222;
}

.card-info:hover{
  
  opacity: 0.8;
  transition: 0.3s ease;
}


.create-form{
  width: 50rem;
  margin-left: 20%;
}

.card-text{
  font-size: larger;
}


/*CSS CODE FOR THE MAP AND MARKERS*/

  #map {
    width: 65%;              /* take 90% of page width */
    height: 400px;           /* fixed height */
    margin: 1rem auto;       /* auto = center horizontally */
    border-radius: 1rem;     /* rounded corners */
    border: 1px solid #ccc;  /* light border */
    display: block;          /* ensure it's a block element */
  }


  .custom-marker {
  cursor: pointer;
  transition: transform 0.2s ease;
}
.custom-marker:hover {
  transform: scale(1.2);
}

.marker-wrapper {
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-marker {
  position: relative;
  z-index: 2; /* above the pulse */
}

/* Pulsing circle behind marker */
.marker-wrapper::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: rgba(255, 56, 92, 0.3); /* Airbnb pinkish color */
  z-index: 1;
  animation: pulse 2s infinite ease-out;
}

/* Animation for expanding circle */
@keyframes pulse { /*defines an animation named pulse that your CSS can apply (you did via animation: pulse 2s infinite*/
  0% {
    transform: scale(0.6); /*the circle starts at 60% of its base size (so a 50px circle looks ~30px) and is mostly visible (70% opacity).*/
    opacity: 0.7;
  }
  70% {
    transform: scale(1.4); /*by 70% of the animation, the circle has expanded to 140% (50px → ~70px) and fully faded out*/
    opacity: 0;
  }
  100% {
    transform: scale(0.6); /*resets the scale back to 0.6 while keeping opacity at 0 right at the loop point. because the animation is infinite*/
    opacity: 0;
  }
}

