<% layout("/layouts/boilerplate.ejs")%>

<body>

       <h1 style="text-align: center;">Login to Wanderlust</h1>

<form action="/login" method="post" class="needs-validation" novalidate style="height: 33rem;">

  <div class="create-form mb-5">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" id="username" name="username" required>

    <DIV class="invalid-feedback">Please provide a valid username !!</DIV>
  </div>



  <div class="create-form mb-5">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password" required>

    <DIV class="invalid-feedback">Please provide a valid password !!</DIV>
  </div>

   <button type="submit" class="create-form btn btn-success" style="width: 5rem;">Login</button> <br><br><br>

</form>